
<div class="col">
<div class="book-card">
  <div class="book-cover-wrapper">
    <button class="wishlist-btn"><i class="fa-regular fa-bookmark"></i></button>
    {% if book.image %}
    <img src="{{ book.image.url }}" alt="Book">
    {% else %}
    <img src="https://images.unsplash.com/photo-1544947950-fa07a98d237f?auto=format&fit=crop&w=400&q=80" alt="Book">
    {% endif %}
  </div>
  <div class="book-card-body">
    <a href="{% url 'book_detail' book.id %}" class="book-title">{{ book.title }}</a>
    <p class="book-desc">{{ book.introduction|truncatewords:20 }}</p>
    <div class="book-price">{{ book.price }} UZS</div>
  </div>
</div>
</div>

