    <nav class="navbar navbar-expand-lg main-navbar">
      <div class="container">
        <a class="navbar-brand fw-bold tracking-wide" href="{% url 'all_books' %}">LIBERTY.</a>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav mx-auto">
            <li class="nav-item"><a class="nav-link" href="{% url 'all_books' %}">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="about.html">About</a></li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li>
          </ul>
          <div class="d-flex align-items-center gap-3">
            <a href="book-form.html" class="nav-link"><i class="fa-solid fa-plus"></i> Yangi kitob</a>
            <a href="auth.html" class="nav-link"><i class="fa-regular fa-user"></i> Kabinet</a>
          </div>
        </div>
      </div>
    </nav>
